.sideBar__itemContainer{
    display: flex;
    padding: 10px 0;
    /* border-radius: 0 100px 100px 0; */
    /* width: 200px; */
    cursor: pointer;
}

.sideBar__itemContainer:hover{
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 32px;
}

.sidebar__arrow{
    width: 28px;
    margin-left: 12px;
}

.sidebar__item{
    display: flex;
}

.sidebar__item>p{
    margin-left: 12px;
}