.sideBar{
    max-width: 394px;
    min-width: 256px;
    height: 100vh;
    margin-right: 5px;
    /* border-right: 1px solid #eee; */
    padding-right: 5px;
}

hr{
    background-color: rgb(197, 197, 197);
    height: 1px;
    border: none;
}

.sideBar__container {
    border-right: 1px solid transparent;
}